.member-nav {
  margin: 0 15px;
  border-bottom: 1px solid #c7c7c7; }
  .member-nav li {
    display: inline-block;
    padding: 10px 20px; }
    .member-nav li a {
      color: #c7c7c7; }
      .member-nav li a.active, .member-nav li a:hover {
        color: #595757; }
    .member-nav li.active {
      color: #f00; }
      .member-nav li.active a {
        color: #595757; }

.member-form .input-group label {
  font-size: 0; }
  .member-form .input-group label.error {
    font-size: .9rem; }
  .member-form .input-group label p {
    font-size: 1rem;
    display: inline-block;
    width: 150px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .member-form .input-group label p + input,
    .member-form .input-group label p + textarea {
      vertical-align: top;
      width: calc(100% - 151px); }

.member-form .input-group .select-wrap {
  width: calc((100% - 152px)/ 2); }

.member-form h3 {
  border-bottom: 1px solid #000;
  margin-bottom: 15px; }

.member-form .btn-group {
  text-align: right; }

@media screen and (min-width: 768px) {
  .member-form .bus-6 + .bus-6 .input-group label p {
    width: 100px; }
    .member-form .bus-6 + .bus-6 .input-group label p + input {
      width: calc(100% - 101px); } }

.btn-outline-gray {
  border: 2px solid #c7c7c7;
  color: #c7c7c7 !important;
  padding: 5px 15px; }

.btn-outline-yellow {
  border: 2px solid #E8BB54;
  color: #E8BB54 !important;
  padding: 5px 15px; }

.history-filter {
  padding: 30px 0; }
  .history-filter > * {
    display: inline-block; }

.history-form .form-group {
  border: 2px solid #E5E5E5;
  margin-bottom: 15px; }

.history-form .title {
  background-color: #f2f2f2;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 2px solid #E5E5E5; }
  .history-form .title p {
    display: inline-block; }
  .history-form .title .date {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3; }
  .history-form .title .number {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3; }
  .history-form .title .status {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  @media screen and (max-width: 768px) {
    .history-form .title > div {
      -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 100% !important;
      flex: 0 0 100% !important;
      text-align: left !important; }
      .history-form .title > div p {
        padding: 10px; } }

.history-form .content .content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #E5E5E5; }
  .history-form .content .content-block.f3 {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3; }
  .history-form .content .content-block.f2 {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }

.history-form .content .blockgroup p {
  border-bottom: 2px solid #E5E5E5; }
  .history-form .content .blockgroup p:last-child() {
    border-bottom: 0; }

.history-form .content .blockgroup span {
  display: inline-block;
  min-width: 100px; }

@media screen and (max-width: 768px) {
  .history-form .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .history-form .content:first-child {
      text-align: center; } }

.history-form > div p {
  padding: 15px; }
