@charset "UTF-8";
header {
  background-color: rgba(255, 255, 255, 0.8);
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    header {
      height: auto; } }
  header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #c7c7c7; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      header nav {
        margin: 0; } }
    header nav > div {
      padding: 10px 0;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch; }
  header .logo {
    padding: 0 15px;
    background-color: rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      header .logo {
        padding: 15px 0;
        width: 100%;
        text-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: white; } }
    header .logo img {
      width: 150px;
      max-height: 25px;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center; }
  header .menu li {
    display: inline-block;
    margin: 0 10px; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    header .menu {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      text-align: center;
      width: 100%;
      display: none; } }
  header .icon-btns {
    height: 30px;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.5); }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      header .icon-btns {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        text-align: center;
        background-color: white; } }
    header .icon-btns li {
      display: inline-block;
      padding: 0 10px;
      position: relative; }
      header .icon-btns li:nth-child(2) {
        border-left: 1px solid #595757;
        border-right: 1px solid #595757; }
        @media screen and (max-width: 768px) and (min-width: 300px) {
          header .icon-btns li:nth-child(2) {
            border: none; } }
      header .icon-btns li:hover .tip {
        display: inline-block; }
    header .icon-btns img,
    header .icon-btns svg {
      width: 25px;
      display: inline-block;
      vertical-align: middle; }
    header .icon-btns svg {
      fill: #595757; }
      header .icon-btns svg.active-menu {
        fill: #2B357F; }
    header .icon-btns .cart-num {
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 3px;
      font-size: .9rem;
      color: #fff;
      text-align: center;
      background-color: #C0281B;
      vertical-align: middle;
      border-radius: 50%; }

.tip {
  display: none;
  position: absolute;
  padding: 5px 10px;
  left: -50px;
  top: -2px;
  background-color: white;
  border: 1px solid #808080;
  border-radius: 4px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  word-break: keep-all; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .tip {
      display: none !important; } }
  .tip:before {
    content: "";
    border-width: 5px;
    position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
    right: -6px;
    border-left-color: #808080;
    margin-top: 7px;
    border-right-width: 0; }
  .tip:after {
    content: "";
    border-width: 5px;
    position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
    right: -5px;
    border-left-color: #fff;
    margin-top: -15px;
    border-right-width: 0; }

#Commodity .commodity-block {
  position: relative;
  height: 100%; }
  #Commodity .commodity-block .commodity-title {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  #Commodity .commodity-block h2 {
    padding: 0 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff; }
  #Commodity .commodity-block img {
    height: 100%; }

#Commodity .commodity-list {
  overflow: hidden; }
  #Commodity .commodity-list .bus-4 > * {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative; }
    #Commodity .commodity-list .bus-4 > * img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  #Commodity .commodity-list .bus-4:nth-child(3n+1) .img-wrap:before, #Commodity .commodity-list .bus-4:nth-child(3n+3) .img-wrap:before, #Commodity .commodity-list .bus-4:nth-child(3n+2) .img-wrap:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%; }
  #Commodity .commodity-list .bus-4:nth-child(3n+1) .img-wrap:before, #Commodity .commodity-list .bus-4:nth-child(3n+3) .img-wrap:before {
    border-width: 30px 25px 0 25px;
    border-color: #ffffff transparent transparent transparent;
    top: 0;
    z-index: 1; }
  #Commodity .commodity-list .bus-4:nth-child(3n+2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #Commodity .commodity-list .bus-4:nth-child(3n+2) .img-wrap {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
      #Commodity .commodity-list .bus-4:nth-child(3n+2) .img-wrap:before {
        border-width: 0px 25px 30px 25px;
        border-color: transparent transparent #ffffff transparent;
        bottom: 0;
        z-index: 1; }
    #Commodity .commodity-list .bus-4:nth-child(3n+2) .commodity-list-block {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
  #Commodity .commodity-list .commodity-list-block {
    position: relative; }
    #Commodity .commodity-list .commodity-list-block > * {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      padding: 15px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      height: 100%; }
    #Commodity .commodity-list .commodity-list-block .commodity-list-blockinner {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      #Commodity .commodity-list .commodity-list-block .commodity-list-blockinner h3 {
        padding: 0 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #000; }
      #Commodity .commodity-list .commodity-list-block .commodity-list-blockinner h2 {
        padding: 10px 0;
        color: #f00; }

#Commodity .slider-dots {
  padding: 15px 0 15px;
  text-align: center; }
  #Commodity .slider-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #79ACC1;
    margin: 0 5px; }

.small-banner ul,
.bottom-banner ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .small-banner ul li,
  .bottom-banner ul li {
    display: inline-block;
    width: calc(100% / 4);
    font-size: 0; }
    .small-banner ul li img,
    .bottom-banner ul li img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }

.bottom-banner ul {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .bottom-banner ul li {
      width: calc(100% / 2); } }

.brand .brand-select {
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #458ac2;
  text-align: center;
  color: #fff;
  position: relative;
  height: 100%; }
  .brand .brand-select:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 30px;
    border-color: transparent transparent transparent #458ac2;
    right: -30px;
    top: calc(50% - 25px);
    z-index: 1; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .brand .brand-select:before {
        top: auto;
        bottom: -30px;
        right: calc(50% - 25px);
        border-width: 30px 25px 0 25px;
        border-color: #458ac2 transparent transparent transparent; } }
  .brand .brand-select h2 {
    display: inline-block;
    padding: 0 15px 10px;
    border-bottom: 1px solid #fff; }
  .brand .brand-select h3 {
    padding-top: 10px; }
  .brand .brand-select .bus-4 {
    padding: 0 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.brand .dots {
  text-align: center; }
  .brand .dots span {
    display: inline-block;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #fff; }

.brand .brand-items {
  height: 100%; }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    .brand .brand-items {
      height: 30vh; } }
  .brand .brand-items li {
    position: relative;
    height: 50%;
    overflow: hidden; }
    .brand .brand-items li img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }

footer {
  color: #808080;
  font-size: 0.9rem; }
  footer > div {
    padding: 10px 15px; }
  footer .footer-top {
    border-bottom: 1px solid #808080; }
  footer .logo {
    width: 150px;
    max-height: 25px; }
  footer .social li {
    display: inline-block;
    width: 35px;
    margin: 0 5px;
    position: relative;
    vertical-align: middle; }
    footer .social li:hover .tip {
      display: inline-block; }
    footer .social li .tip:before {
      margin-top: 5px; }
  footer .contact p {
    display: inline-block; }
  footer .footer-nav li {
    display: inline-block;
    margin: 0 10px; }
    footer .footer-nav li a {
      color: #808080; }
      footer .footer-nav li a:hover, footer .footer-nav li a:visited {
        color: rgba(128, 128, 128, 0.7); }
  footer .copyright {
    text-align: center;
    background-color: #000000;
    color: #808080; }

/* ---- grid ---- */
.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* ---- .element-item ---- */
  /* clear fix */ }
  .grid > * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .grid .grid-item,
  .grid .grid-sizer {
    width: calc(20% - 2.5px); }
    @media screen and (max-width: 576px) and (min-width: 300px) {
      .grid .grid-item,
      .grid .grid-sizer {
        width: calc(50% - 2.5px); } }
  .grid .grid-item {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-bottom: calc(20% - 4px);
    border: 2px solid #fff; }
    @media screen and (max-width: 576px) and (min-width: 300px) {
      .grid .grid-item {
        padding-bottom: calc(50% - 4px); } }
    .grid .grid-item img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .grid .grid-item.grid-item--width2 {
      width: calc(40% - 4px); }
      @media screen and (max-width: 576px) and (min-width: 300px) {
        .grid .grid-item.grid-item--width2 {
          width: calc(100% - 4px); } }
    .grid .grid-item.grid-item--height2 {
      padding-bottom: calc(40% - 4px); }
      @media screen and (max-width: 576px) and (min-width: 300px) {
        .grid .grid-item.grid-item--height2 {
          padding-bottom: calc(100% - 4px); } }
  .grid:after {
    content: '';
    display: block;
    clear: both; }

.breadcrumb-trail {
  padding: 30px 0 15px;
  color: #c7c7c7; }
  .breadcrumb-trail a {
    color: #c7c7c7; }
    .breadcrumb-trail a:hover, .breadcrumb-trail a:active, .breadcrumb-trail a:visited {
      color: rgba(199, 199, 199, 0.8); }
    .breadcrumb-trail a:after {
      content: '>';
      display: inline-block;
      margin: 0 5px; }
    .breadcrumb-trail a:last-child:after {
      content: ''; }

@media screen and (min-width: 769px) {
  .bus-pr-20 {
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }

.shop-info {
  padding: 20px 0; }

.num {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }
  .num > * {
    height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem; }
  .num .input-number {
    padding: 0 5px;
    vertical-align: top;
    text-align: center;
    outline: none;
    border: 0;
    pointer-events: none;
    width: 40px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0; }
    .num .input-number:focus {
      outline-offset: 0; }
  .num .input-number-decrement,
  .num .input-number-increment {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 40px;
    line-height: 38px;
    border: 1px solid #c7c7c7;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px; }
    .num .input-number-decrement:active,
    .num .input-number-increment:active {
      background: #ddd; }

.cart-btns {
  font-size: 0;
  margin: 15px 0; }
  .cart-btns a,
  .cart-btns button {
    font-size: 1rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    width: calc(50% - 15px / 2); }
    .cart-btns a:focus,
    .cart-btns button:focus {
      outline-offset: 0; }
    .cart-btns a:nth-child(2),
    .cart-btns button:nth-child(2) {
      margin-left: 14px; }

.btn {
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  background-color: #fff; }
  .btn:hover, .btn:visited, .btn:active {
    color: #fff; }

.btn-red {
  background: -webkit-gradient(linear, left top, left bottom, from(#e60012), to(#BC271A));
  background: -webkit-linear-gradient(top, #e60012, #BC271A);
  background: -o-linear-gradient(top, #e60012, #BC271A);
  background: linear-gradient(to bottom, #e60012, #BC271A); }

.btn-orange {
  background: -webkit-gradient(linear, left top, left bottom, from(#F09637), to(#EC5729));
  background: -webkit-linear-gradient(top, #F09637, #EC5729);
  background: -o-linear-gradient(top, #F09637, #EC5729);
  background: linear-gradient(to bottom, #F09637, #EC5729); }

.sales ul {
  margin: 20px 0; }

.sales li {
  margin: 5px 0; }

.sales h3 {
  padding: 26px 0 15px; }

.shop-textBlock img {
  display: block;
  width: 100%;
  height: auto; }

.big-img {
  margin-top: 30px; }

.shop-itemsList ul {
  padding: 5px 0;
  font-size: 0; }
  .shop-itemsList ul li {
    display: inline-block;
    width: calc(100% / 3 - 5px);
    padding-bottom: calc(100% / 3 - 5px);
    height: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    margin: 5px 0;
    position: relative;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    cursor: pointer; }
    @media screen and (min-width: 769px) {
      .shop-itemsList ul li:nth-child(3n+1) {
        margin: 5px 6.5px; }
      .shop-itemsList ul li:nth-child(1), .shop-itemsList ul li:nth-child(2) {
        margin: 0;
        width: calc(100% / 2 - 5px);
        padding-bottom: calc(100% / 2 - 5px); }
      .shop-itemsList ul li:nth-child(2) {
        margin-left: 9px; } }
    .shop-itemsList ul li:hover .item {
      top: 0;
      left: 0;
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.7)));
      background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
      background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)); }
    .shop-itemsList ul li .item {
      font-size: 1rem;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      padding: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      cursor: pointer; }
      .shop-itemsList ul li .item img {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
      .shop-itemsList ul li .item h2 {
        padding-bottom: 5px;
        border-bottom: 1px solid #fff; }
      .shop-itemsList ul li .item p {
        padding: 5px 0; }
      .shop-itemsList ul li .item small {
        text-decoration: line-through;
        margin-right: 10px; }
    @media screen and (max-width: 768px) and (min-width: 300px) {
      .shop-itemsList ul li {
        width: calc(100% / 2 - 5px);
        padding-bottom: calc(100% / 2 - 5px); }
        .shop-itemsList ul li:nth-child(2n) {
          margin-left: 7.5px; }
        .shop-itemsList ul li .item {
          padding: 10px;
          top: 0;
          left: 0;
          background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.7)));
          background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
          background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
          background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)); } }

.cart-table {
  margin: 15px 0; }
  .cart-table table {
    width: 100%;
    border-collapse: collapse; }
    .cart-table table th {
      background-color: #F2F2F2; }
    .cart-table table th,
    .cart-table table td {
      padding: 20px;
      border: 2px solid #E5E5E5; }
      .cart-table table th.img,
      .cart-table table td.img {
        padding: 0; }
      @media screen and (max-width: 768px) and (min-width: 300px) {
        .cart-table table th,
        .cart-table table td {
          padding: 10px; } }
    .cart-table table .cancel {
      display: inline-block;
      color: #fff;
      width: 25px;
      height: 25px;
      text-align: center;
      cursor: pointer; }
    .cart-table table .img-wrap {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative; }
      .cart-table table .img-wrap img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .cart-table table .num .input-number-decrement,
    .cart-table table .num .input-number-increment,
    .cart-table table .num input {
      width: 30px;
      height: 30px;
      line-height: 28px; }
    .cart-table table .num input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      @media screen and (max-width: 576px) and (min-width: 300px) {
        .cart-table table .num input {
          border: 1px solid #595757;
          border-radius: 4px;
          pointer-events: all; } }
    .cart-table table .num input[type=number]::-webkit-inner-spin-button,
    .cart-table table .num input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }

.cart-price {
  text-align: right; }
  .cart-price .cart-price-block {
    display: inline-block; }
    @media screen and (max-width: 576px) and (min-width: 300px) {
      .cart-price .cart-price-block {
        width: 100%;
        text-align: left; } }
    .cart-price .cart-price-block li {
      border-bottom: 2px solid #E5E5E5; }
      .cart-price .cart-price-block li > div {
        padding: 10px;
        display: inline-block;
        min-width: 100px; }
        @media screen and (max-width: 576px) and (min-width: 300px) {
          .cart-price .cart-price-block li > div {
            text-align: left; } }
        .cart-price .cart-price-block li > div:nth-child(2) {
          min-width: 150px; }
      .cart-price .cart-price-block li .title {
        background-color: #F2F2F2; }
    .cart-price .cart-price-block .btn {
      width: 100%;
      margin: 15px 0; }

.error {
  font-size: 0.9rem;
  color: #C0281B; }

.shipping-block {
  padding: 15px 0; }
  .shipping-block .row > .bus-6 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .shipping-block #shipping-form .bus-6 {
    padding: 0 15px; }
    .shipping-block #shipping-form .bus-6 .row {
      margin: 0; }
  .shipping-block h3 {
    padding: 10px 0; }
  @media screen and (min-width: 769px) {
    .shipping-block .bus-4 + .bus-8 {
      max-width: calc(66.666666% - 10px);
      margin-left: 10px; } }
  @media screen and (min-width: 769px) {
    .shipping-block .bus-4 + .bus-4 {
      max-width: calc(33.33333% - 10px);
      margin-left: 10px; } }
  .shipping-block .label-block {
    margin: 5px 0;
    display: inline-block;
    padding: 30px 20px;
    background-color: #E5E5E5;
    width: calc(100% - 35px);
    margin-left: 5px;
    text-align: center;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.detail-form {
  text-align: center;
  color: #fff; }
  .detail-form ul {
    border: 3px solid #E5E5E5; }
  .detail-form li {
    border: 3px solid #E5E5E5; }
    .detail-form li .df-brand {
      background-color: #c7c7c7;
      padding: 20px 10px; }
    .detail-form li .df-title {
      background-color: #F2F2F2; }
      .detail-form li .df-title > div {
        border: 1px solid #E5E5E5;
        padding: 20px 10px;
        color: #000; }
      .detail-form li .df-title .item-name {
        -webkit-box-flex: 2;
        -webkit-flex: 2 1 60px;
        -ms-flex: 2 1 60px;
        flex: 2 1 60px; }
      .detail-form li .df-title .item-price {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 40px;
        -ms-flex: 1 1 40px;
        flex: 1 1 40px; }
    .detail-form li .df-content > div {
      border: 1px solid #E5E5E5;
      padding: 20px 10px;
      color: #000; }
    .detail-form li .df-content .item-name {
      text-align: left;
      -webkit-box-flex: 2;
      -webkit-flex: 2 1 60px;
      -ms-flex: 2 1 60px;
      flex: 2 1 60px; }
    .detail-form li .df-content .item-price {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 40px;
      -ms-flex: 1 1 40px;
      flex: 1 1 40px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }

.btn-block {
  min-width: 300px;
  display: block;
  margin: 15px auto; }
  @media screen and (max-width: 576px) and (min-width: 300px) {
    .btn-block {
      width: 100%; } }

.member-nav {
  margin: 0 15px;
  border-bottom: 1px solid #c7c7c7; }
  .member-nav li {
    display: inline-block;
    padding: 10px 20px; }
    .member-nav li a {
      color: #c7c7c7; }
      .member-nav li a.active, .member-nav li a:hover {
        color: #595757; }

.member-form .input-group label {
  font-size: 0; }
  .member-form .input-group label.error {
    font-size: .9rem; }
  .member-form .input-group label p {
    font-size: 1rem;
    display: inline-block;
    width: 150px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .member-form .input-group label p + input,
    .member-form .input-group label p + textarea {
      vertical-align: top;
      width: calc(100% - 151px); }

.member-form .input-group .select-wrap {
  width: calc((100% - 152px)/ 2); }

.member-form h3 {
  border-bottom: 1px solid #000;
  margin-bottom: 15px; }

.member-form .btn-group {
  text-align: right; }

@media screen and (min-width: 768px) {
  .member-form .bus-6 + .bus-6 .input-group label p {
    width: 100px; }
    .member-form .bus-6 + .bus-6 .input-group label p + input {
      width: calc(100% - 101px); } }

.btn-outline-gray {
  border: 2px solid #c7c7c7;
  color: #c7c7c7 !important;
  padding: 5px 15px; }

.btn-outline-yellow {
  border: 2px solid #E8BB54;
  color: #E8BB54 !important;
  padding: 5px 15px; }

.history-filter {
  padding: 30px 0; }
  .history-filter > * {
    display: inline-block; }

.history-form .form-group {
  border: 2px solid #E5E5E5;
  margin-bottom: 15px; }

.history-form .title {
  background-color: #f2f2f2;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 2px solid #E5E5E5; }
  .history-form .title p {
    display: inline-block; }
  .history-form .title .date {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3; }
  .history-form .title .number {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3; }
  .history-form .title .status {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  @media screen and (max-width: 768px) {
    .history-form .title > div {
      -webkit-box-flex: 0 !important;
      -webkit-flex: 0 0 100% !important;
      -ms-flex: 0 0 100% !important;
      flex: 0 0 100% !important;
      text-align: left !important; }
      .history-form .title > div p {
        padding: 10px; } }

.history-form .content .content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #E5E5E5; }
  .history-form .content .content-block.f3 {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3; }
  .history-form .content .content-block.f2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2; }

.history-form .content .blockgroup p {
  border-bottom: 2px solid #E5E5E5; }
  .history-form .content .blockgroup p:last-child {
    border-bottom: 0; }

.history-form .content .blockgroup span {
  display: inline-block;
  min-width: 100px; }

@media screen and (max-width: 768px) {
  .history-form .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .history-form .content:first-child {
      text-align: center; } }

.history-form > div p {
  padding: 15px; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .faq-nav {
    border-bottom: 0;
    padding-top: 40px; }
    .faq-nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      border: 1px solid #c7c7c7;
      border-radius: 4px;
      position: relative; }
      .faq-nav ul:before {
        content: '';
        position: absolute;
        right: 10px;
        top: 16px;
        width: 0;
        height: 0;
        pointer-events: none;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #c7c7c7 transparent transparent transparent; }
    .faq-nav li {
      display: none;
      width: 100%;
      text-align: center; }
      .faq-nav li.slide {
        display: block; }
      .faq-nav li.active {
        display: block;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1; }
        .faq-nav li.active a {
          color: #595757; }
      .faq-nav li:hover {
        background-color: #f2f2f2; }
      .faq-nav li a {
        display: inline-block;
        width: 100%; } }

.faq-group {
  border-bottom: 1px solid #c7c7c7; }
  .faq-group > div {
    padding: 10px 0; }
    .faq-group > div:before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #595757;
      vertical-align: middle;
      color: #fff;
      font-size: 1.5rem;
      text-align: center;
      line-height: 50px; }
    .faq-group > div p {
      padding-left: 15px;
      display: inline-block;
      width: calc(100% - 65px);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      vertical-align: middle; }
    .faq-group > div.faq-q {
      cursor: pointer; }
      .faq-group > div.faq-q:before {
        content: 'Q'; }
    .faq-group > div.faq-a {
      display: none; }
      .faq-group > div.faq-a:before {
        content: 'A'; }

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #c7c7c7;
  background-color: #fff; }
  @media screen and (min-width: 768px) {
    .login-form {
      -webkit-box-shadow: 3px 3px 10px 1px #E5E5E5;
      box-shadow: 3px 3px 10px 1px #E5E5E5;
      border-radius: 10px; } }
  .login-form h3 {
    color: #595757; }
  .login-form .logo {
    max-width: 200px;
    margin: 0 auto 30px; }
  .login-form .input-group {
    margin: 20px 0; }
  .login-form a {
    color: #c7c7c7; }
    .login-form a:active, .login-form a:visited, .login-form a:hover {
      color: rgba(199, 199, 199, 0.7); }

.fb-login-button {
  width: 100%; }

.btn-login {
  width: 100%;
  max-width: 150px;
  background: #eeb100;
  border-radius: 25px;
  padding: 10px; }

* {
  padding: 0;
  margin: 0;
  list-style: none;
  letter-spacing: 1px;
  font-weight: 400; }

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang TC", Arial, 微軟正黑體, "Microsoft JhengHei", sans-serif; }

a {
  color: #000000;
  text-decoration: none; }
  a:hover, a:active, a:visited {
    color: rgba(0, 0, 0, 0.8); }

b {
  font-weight: bold; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.bus-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.bus-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.bus-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.bus-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666666%;
  -ms-flex: 0 0 66.666666%;
  flex: 0 0 66.666666%;
  max-width: 66.666666%; }

.bus-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333333%;
  -ms-flex: 0 0 33.3333333%;
  flex: 0 0 33.3333333%;
  max-width: 33.333333%; }

.bus-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .bus-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .bus-sm-px {
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .bus-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .bus-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .d-sm-none {
    display: none !important; } }

@media screen and (max-width: 576px) and (min-width: 300px) {
  .d-xs-none {
    display: none !important; } }

@media screen and (max-width: 576px) and (min-width: 300px) {
  .bus-xs-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none !important; } }

.mb {
  margin-bottom: 1rem; }

.mb-40 {
  margin-bottom: 40px; }

.py-1 {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.py {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.img-fluid {
  width: 100%;
  display: block; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.container-mini {
  max-width: 575px;
  margin: 0 auto; }

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-cloumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

#hero-img {
  margin-bottom: 40px; }
  #hero-img img,
  #hero-img video {
    display: block;
    width: 100%; }

#wrap {
  margin-top: 50px;
  min-height: calc(100vh - 185px); }
  @media screen and (min-width: 769px) {
    #wrap.index {
      margin-top: 0; } }
  @media screen and (max-width: 768px) and (min-width: 300px) {
    #wrap {
      margin-top: 110px; } }

.border-bottom {
  border-bottom: 1px solid #c7c7c7; }

.line-height-180 {
  line-height: 180%; }

.text-center {
  text-align: center; }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .text-xs-center {
    text-align: center; } }

@media screen and (max-width: 768px) and (min-width: 300px) {
  .text-xs-left {
    text-align: left; } }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
select,
textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  background-color: #fff;
  font-size: 1rem;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  border: 1px solid #c7c7c7;
  border-radius: 4px; }
  input[type="text"].error,
  input[type="email"].error,
  input[type="tel"].error,
  input[type="password"].error,
  input[type="date"].error,
  select.error,
  textarea.error {
    border-color: #C0281B;
    outline-color: #C0281B !important; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  select:focus,
  textarea:focus {
    outline-offset: 0; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  select:focus,
  textarea:focus {
    outline-color: #3B89DA;
    outline-offset: -3px;
    outline-width: 1px; }

input[type="radio"].error + .label-block {
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid #C0281B;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.select-wrap {
  display: inline-block;
  position: relative; }
  .select-wrap:after {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #c7c7c7 transparent transparent transparent; }

select {
  -webkit-appearance: listbox;
  -moz-appearance: listbox;
  appearance: listbox;
  position: relative; }

.input-group {
  margin: 5px 0; }

.fb_iframe_widget {
  display: block !important; }
