footer {
    color: #808080;
    font-size: 0.9rem;
    &>div {
        padding: 10px 15px;
    }
    .footer-top {
        border-bottom: 1px solid #808080;
    }
    .logo {
        width: 150px;
        max-height: 25px;
    }
    .social {
        li {
            display: inline-block;
            width: 35px;
            margin: 0 5px;
            position: relative;
            &:hover .tip {
                display: inline-block;
            }
            .tip:before {
                margin-top: 5px;
            }
        }
    }
    .contact {
        p {
            display: inline-block;
        }
    }
    .footer-nav {
        li {
            display: inline-block;
            margin: 0 10px;
            a {
                color: #808080;
                &:hover,
                &:visited {
                    color: rgba(#808080, .7);
                }
            }
        }
    }
    .copyright {
        text-align: center;
        background-color: #000000;
        color: #808080;
    }
}