// .grid {
//     text-align: center;
//     margin: 0 auto;
//     &:after {
//         content: '';
//         display: block;
//         clear: both;
//     }
// }
// $width:22%;
// $width-2:calc(48%);
// .gutter-sizer {
//     width: 4%;
// }
// .grid-item {
//     float: left;
//     width: $width;
//     // padding-bottom: $width;
//     background: #e9e9e9;
//     height: $width;
//     overflow: hidden;
//     // margin: 5px;
//     img {
//         display: inline;
//         width: 100%;
//         padding: 0;
//         margin: 0;
//         // display: none;
//     }
// }
// .grid-item--width2 {
//     width: $width-2;
// }
// .grid-item--height2 {
//     padding-bottom: $width-2;
// }

/* ---- grid ---- */

.grid {
    box-sizing: border-box;
    &>* {
        box-sizing: border-box;
    }
}


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- .element-item ---- */


/* 5 columns, percentage width */

.grid-item,
.grid-sizer {
    width: 20%;
}

.grid-item {
    float: left;
    // height: 100px;
    // background: #0D8;
    border: 2px solid #fff;
    position: relative;
    padding-bottom: 20%;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.grid-item--width2 {
    width: 40%;
}

.grid-item--height2 {
    // height: 40%;
    padding-bottom: calc(40% + 4px);
}