.member-nav {
    margin: 0 15px;
    border-bottom: 1px solid $bordercolor;
    li {
        display: inline-block;
        padding: 10px 20px;
        a {
            color: $bordercolor;
            &.active,
            &:hover {
                color: $maincolor;
            }
        }
    }
}

.member-form {
    .input-group {
        label {
            font-size: 0;
            p {
                font-size: 1rem;
                display: inline-block;
                width: 150px;
                padding: 10px;
                box-sizing: border-box;
                &+input,
                &+textarea {
                    vertical-align: top;
                    width: calc(100% - 151px);
                }
            }
        }
        select {
            width: calc((100% - 152px)/ 2);
        }
    }
    h3 {
        border-bottom: 1px solid #000;
        margin-bottom: 15px;
    }
    .btn-group {
        text-align: right;
    }
    .bus-6+.bus-6 {
        @include range-width(768px, 0) {
            .input-group {
                label {
                    p {
                        width: 100px;
                        &+input {
                            width: calc(100% - 101px);
                        }
                    }
                }
            }
        }
    }
}

.btn-outline-gray {
    border: 2px solid $bordercolor;
    color: $bordercolor !important;
    padding: 5px 15px;
}

.btn-outline-yellow {
    border: 2px solid #E8BB54;
    color: #E8BB54 !important;
    padding: 5px 15px;
}

.history-filter {
    padding: 30px 0;
    &>* {
        display: inline-block;
    }
}

.history-form {
    .form-group {
        border: 2px solid $lightborder;
        margin-bottom: 15px;
    }
    .title {
        background-color: $lightbg;
        flex-wrap: wrap;
        border-bottom: 2px solid $lightborder;
        p {
            display: inline-block;
        }
        .date {
            flex: 3;
        }
        .number {
            flex: 3;
        }
        .status {
            flex: 2;
        }
        @media screen and (max-width:768px) {
            &>div {
                flex: 0 0 100% !important;
                text-align: left !important;
                p {
                    padding: 10px;
                }
            }
        }
    }
    .content {
        .content-block {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            border: 1px solid $lightborder;
            &.f3 {
                flex: 3;
            }
            &.f2 {
                flex: 2;
            }
        }
        .blockgroup {
            p {
                border-bottom: 2px solid $lightborder;
                &:last-child() {
                    border-bottom: 0;
                }
            }
            span {
                display: inline-block;
                min-width: 100px;
            }
        }
        @media screen and (max-width:768px) {
            flex-direction: column;
            &:first-child {
                text-align: center;
            }
        }
    }
    &>div p {
        padding: 15px;
    }
}