@import '_mixin.scss';
@import '_color.scss';
@import '_header.scss'; // header共用
@import '_index.scss'; // 首頁
@import '_footer.scss'; //footer 共用
@import '_grid.scss'; //masonry style gird
@import '_shop.scss';
* {
    // outline: 1px solid #f00;
    padding: 0;
    margin: 0;
    list-style: none;
    letter-spacing: 1px;
    font-weight: 400;
}

a {
    color: #000000;
    text-decoration: none;
    &:hover,
    &:active,
    &:visited {
        color: rgba(#000, .8);
    }
}

b {
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.bus-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.bus-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.bus-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.bus-8 {
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
}

.bus-4 {
    flex: 0 0 33.3333333%;
    max-width: 33.333333%;
}

.bus-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.bus-sm-12 {
    @include range-width(300px, 768px) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.bus-sm-px {
    @include range-width(300px, 768px) {
        padding: 0 5px;
        box-sizing: border-box;
    }
}

.bus-sm-4 {
    @include range-width(300px, 768px) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.bus-sm-6 {
    @include range-width(300px, 768px) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.d-sm-none {
    @include range-width(300px, 768px) {
        display: none !important;
    }
}

.bus-xs-6 {
    @include range-width(300px, 576px) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.d-md-none {
    @include range-width(768px, 0) {
        display: none !important;
    }
}

.mb {
    margin-bottom: 1rem;
}

.mb-40 {
    margin-bottom: 40px;
}

.py-1 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.py {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.img-fluid {
    width: 100%;
    display: block;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.flex-cloumn {
    flex-direction: column;
}

// heroimg
#hero-img {
    img {
        display: block;
        width: 100%;
    }
    margin-bottom: 40px;
}

#wrap {
    &.index {
        @include range-width(769px, 0) {
            margin-top: 0;
        }
    }
    margin-top: 50px;
    @include range-width(300px, 768px) {
        margin-top: 100px;
    }
}

.border-bottom {
    border-bottom: 1px solid $bordercolor;
}

.line-height-180 {
    line-height: 180%;
}